<!-- <app-titulo
  [titulo]="'Eventos'"
  [subtitulo]="'Somente teste'"
  [iconClass]="faCalendarAlt"
  [botaoListar]="true"
></app-titulo> -->
<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Filtro:</div>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Filtrar por tema e local"
          [(ngModel)]="ListFilter"
        />
        <!-- <button class="btn btn-outline-success">Buscar</button> -->
      </div>
    </div>
    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/eventos/detalhe">
        <fa-icon class="mr-1" [icon]="faPlusCircle"></fa-icon>
        <b class="d-none d-sm-block">New</b>
      </a>
    </div>
  </div>
  <!-- <h3>Filtro: {{ ListFilter }}</h3> -->
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th class="d-none d-md-table-cell">
          <button
            type="button"
            class="btn btn-outline-light btn-sm"
            (click)="toggleImg()"
          >
            <!-- <i class="{{ !showImg ? 'bi bi-eye-slash' : 'bi bi-eye' }}"></i> -->
            <!-- {{ !showImg ? Ocultar : Exibir }} -->
            <fa-icon [icon]="toggleBtnImgAndText()[0]"></fa-icon>
            {{ toggleBtnImgAndText()[1] }}
          </button>
        </th>
        <th>#</th>
        <th>Tema</th>
        <th class="d-none d-md-table-cell">Local</th>
        <th>Data</th>
        <th class="d-none d-md-table-cell">Qtd Pessoas</th>
        <th class="d-none d-md-table-cell">Lote</th>
        <th>Opções</th>
      </tr>
    </thead>
    <!-- Caso o objeto eventos exista e possua 1 ou mais elementos, popula a tbody -->
    <tbody *ngIf="eventos && eventos.length">
      <tr
        *ngFor="let evento of eventosFiltrados"
        (click)="detalheEvento(evento.id)"
        style="cursor: pointer"
      >
        <td class="d-none d-md-table-cell">
          <!-- Definindo largura da imagem atravém de propriedade do component -->
          <img
            [collapse]="showImg"
            [isAnimated]="true"
            src="assets/{{ evento.imagemURL }}"
            [style.width.px]="widthImgSmall"
            [style.margin.px]="marginImgSmall"
            alt=""
          />
        </td>
        <td>{{ evento.id }}</td>
        <td>{{ evento.tema }}</td>
        <td class="d-none d-md-table-cell">{{ evento.local }}</td>
        <td>{{ evento.dataEvento | DateTimeFormatPipe }}</td>
        <td class="d-none d-md-table-cell">{{ evento.qtdPessoas }}</td>
        <td class="d-none d-md-table-cell">{{ evento.lotes[0].nome }}</td>
        <td>
          <div class="btn-group">
            <!-- <button
              type="button"
              class="btn btn-primary btn-sm mr-2"
              tooltip="Editar"
            >
              <i class="bi bi-pencil-square"></i>
            </button> -->
            <button
              type="button"
              class="btn btn-danger btn-lg"
              tooltip="Excluir"
              (click)="openModal(template)"
            >
              <!-- <i class="bi bi-trash-fill"></i> -->
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
    <!-- Caso o objeto eventos não exista ou exista e não possua elementos, popula a tfoot -->
    <tfoot *ngIf="!eventos || (eventos && !eventos.length)">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum evento encontrado...</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<!-- /**
  * Exemplo de Filtro de Interpolação:
{{ eventos | json }}
*/ -->

<ng-template #template>
  <div class="modal-body text-center">
    <p>Proceed with the event exclusion ?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      No
    </button>
  </div>
</ng-template>
